body {
  margin: 0;
  height: 100vh;
  background-color: rgb(12, 16, 22);
  color: white;
  font-family: 'Verdana';
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.explanation {
  max-width: 70%;
  margin: 10px;
  margin-top: 20px;
}

.full-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px;
  border-radius: 10px;
}

.image-anchor {
  max-width: 60%;
  text-decoration: none;
}

.results-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result {
  display: flex;
  text-decoration: none;
  color: white;
  width: 100%;
  flex-direction: row;
  border: 1px solid white;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
}

.search-result:hover {
  border-color: rgb(0, 187, 255);
}

.thumbnail-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 'a b b c c';
  align-items: center;
  background-color: black;
}

.page-title {
  grid-area: b;
  color: white;
  font-size: 24px;
  margin: 20px;
}

.home-link {
  grid-area: a;
  justify-self: center;
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin: 20px;
}

.search-form {
  grid-area: c;
}

.search-input {
  background-color: rgb(12, 16, 22);
  min-width: 250px;
  border: 1px solid grey;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  padding: 10px;
  outline: none;
}

.search-input:focus {
  border-color: rgb(0, 187, 255);
}

.search-button {
  display: none;
}
