body {
  margin: 0;
  background-color: rgb(12, 16, 22);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.full-image {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
